<div class="wrapper m-auto" style="width: 50%;">
  {{#if mountain}}
    <form action="/admin/mountains/{{mountain.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
  {{else}}
    <form action="/admin/mountains" method="POST" enctype="multipart/form-data">
  {{/if}}
  {{> message}}
  <br>
  <div class="form-group mt-3">
    <label for="name">地點名稱</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" value="{{mountain.name}}">
  </div>
  <br>
  <div class="form-group">
    <label for="categoryId">類別</label>
    <select class="form-control" id="altitudeId" name="altitudeId">
      {{#each altitudes}}
        <option value="{{this.id}}"
        {{#ifCond this.id ../mountain.AltitudeId}}
         selected
       {{/ifCond}}
        >{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <br>
  <div class="form-group">
      <label for="categoryId">難度（1~5 數字越大越難)</label>
      <select class="form-control" id="difficulty" name="difficulty">
        <option value="1" {{#ifCond mountain.difficulty 1}} selected{{/ifCond}}>1</option>
        <option value="2" {{#ifCond mountain.difficulty 2}} selected{{/ifCond}}>2</option>
        <option value="3" {{#ifCond mountain.difficulty 3}} selected{{/ifCond}}>3</option>
        <option value="4" {{#ifCond mountain.difficulty 4}} selected{{/ifCond}}>4</option>
        <option value="5" {{#ifCond mountain.difficulty 5}} selected{{/ifCond}}>5</option>
      </select>
  </div>
  <br>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" name="address" id="address" placeholder="Enter address"
      value="{{mountain.address}}">
  </div>
  <br>
  <div class="form-group">
    <label for="height">高度 (單位：Ｍ)</label>
    <input type="text" class="form-control" name="height" id="height" placeholder="Enter height"
      value="{{mountain.height}}" />
  </div>
  <br>
  <div class="form-group">
    <label for="description">景點介紹</label>
    <textarea class="form-control" id="description" name="description" rows="3">{{mountain.description}}</textarea>
  </div>
  <br>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="file" class="form-control-file" id="image" name="image">
  </div>
  <br>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>

