<h3>論壇後台</h3>

<a href='/admin/mountains/create'>
  <button type="button" class="btn btn-primary">New Mountain</button>
</a>

<br />
<br />
{{> message}}
<div class="wrapper" style="width: 50%;">
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each mountains}}
      <tr>
        <th scope="row">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>
          <button type="button" class="btn btn-link">
            <a href="/admin/mountains/{{this.id}}">
              Show
            </a>
          </button>
          <button type="button" class="btn btn-link">
            <a href="/admin/mountains/{{this.id}}/edit">
              Edit
            </a>
          </button>
          <form action="/admin/mountains/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-link">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>
