<div class="wrapper m-auto" style="width: 90%;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/mountains">首頁</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/mountains/feeds">最新動態</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="/users/top">健行達人</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mountains/top">Top10景點</a>
    </li>
  </ul>
  <br />
  <h5>最新動態</h5>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          最新景點
        </div>
        <div class="card-body">
          {{#each mountains}}
            <div>
              <h4>
                <a href="/restaurants/{{this.id}}">{{this.name}}</a>
                <small>{{this.Altitude.name}}</small>
              </h4>
              <p>{{this.description}}</p>
              {{moment this.createdAt}}
              <hr>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          最新評論
        </div>
        <div class="card-body">
          {{#each comments}}
            <div>
              <h4>
                <a href="/mountains/{{this.Mountain.id}}">{{this.Mountain.name}}</a>
              </h4>
              <p>{{this.text}}</p>
              by <a href="/users/{{this.User.id}}">{{this.User.name}}</a>
              at {{moment this.createdAt}}
              <hr>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>