<div class="row m-auto" style="width: 80%;">
  <div class="col-md-12">
    <h1>{{mountain.name}}</h1>
    <p>[{{mountain.Altitude.name}}]</p>
  </div>
<img class="img-responsive center-block" src="{{mountain.image}}" style="width: 250px;margin-bottom: 25px;">
  <div class="col-md-4">
    <br>
    <div class="well">
      <ul class="list-unstyled">
        <li><strong>高度:</strong> {{mountain.height}}</li>
        <li><strong>難易度:</strong> {{mountain.difficulty}}</li>
        <li><strong>地點:</strong> {{mountain.address}}</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="col-md-8">
    <p>{{mountain.description}}</p>
  </div>
  <hr>
  <br />
  <br />
  <form action="/comments" method="POST">
    <div class="form-group">
      <label for="text">留下評論：</label>
      <textarea class="form-control" id="text" name="text" rows="3"></textarea>
    </div>
    <input type="hidden" name="mountainId" value="{{mountain.id}}" />
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br />
  <h3>所有評論：</h3>
  {{#each mountain.Comments}}
  
    <blockquote class="blockquote mb-0">
      {{#if ../user.isAdmin}}
        <form action="/comments/{{this.id}}?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger float-end">Delete</button>
        </form>
      {{/if}}
      <h4><a href="/users/{{this.User.id}}">{{this.User.name}}</a></h4>
      <p>{{this.text}}</p>
      <footer class="blockquote-footer">{{moment this.createdAt}}</footer>
    </blockquote>
    <hr />
  {{/each}}


  <a href="javascript:history.back()">回上一頁</a>
</div>



