<div class="wrapper m-auto" style="width: 90%;">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="/mountains">首頁</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mountains/feeds">最新動態</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/users/top">健行達人</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/mountains/top">Top10景點</a>
    </li>
  </ul>
  <br>
  <h5>健行達人</h5>
  <hr />
  <div class="row" style="text-align: center;">
    {{#each users}}
      <div class="col-3">
        <a href="/users/{{this.id}}">
          <img class="" src="{{this.image}}" width="140px" height="140px">
        </a>
        <h2>{{this.name}}</h2>
        <span class="badge bg-secondary">追蹤人數：{{this.FollowerCount}}</span>
        <p>
          {{#if this.isFollowed }}
            <form action="/users/following/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button
                type="submit" class="btn btn-danger">取消追蹤</button></form>
          {{else}}
            <form action="/users/following/{{this.id}}" method="POST" style="display: contents;"><button type="submit"
                class="btn btn-primary">追蹤</button></form>
          {{/if}}
        </p>
      </div>
    {{/each}}
  </div>
</div>